body{
    background-image:url(https://зоомагазин.рф/upload/iblock/32d/novorozhdennyy_kotenok_bez_mamy_kak_vykhazhivat.jpg) 
}
h1{
    color: palegreen;
    font-size: 60pt;
    font-weight: bolder;
    box-shadow: 10px 10px 10px firebrick;
}
h2{
    color: blueviolet;
    font-size: 50pt;
    margin-left: 10px;
    border: 20px solid blue;
    border-radius: 30px;
    box-shadow: 10px 10px 10px khaki;
}
h3{
    color: rgb(187, 14, 28);
    font-size: 40pt;
    margin-left: 20px;
    border: 20px solid aquamarine;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rebeccapurple;
}
h4{
    color: rgb(197, 161, 231);
    font-size: 30pt;
    margin-left: 30px;
    border: 20px solid sienna;
    border-radius: 30px;
    box-shadow: 10px 10px 10px wheat;
}
h5{
    color: rgb(222, 238, 1);
    font-size: 20pt;
    margin-left: 40px;
    border: 20px solid greenyellow;
    border-radius: 30px;
    box-shadow: 10px 10px 10px mediumorchid;
}
h6{
    color: rgb(159, 152, 251);
    font-size: 10pt;
    margin-left: 50px;
    border: 20px solid hotpink ;
    border-radius: 30px;
    box-shadow: 10px 10px 10px gold;
}
 p{
    color: aquamarine;
    font-size: 100pt;
    font-weight: lighter;
 }   














